.navbar {
    background-color: #0b1d26;
    height: 80px;
    width:100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed !important;
    top:0px;
    z-index: 20;
  }
  .Yearbook-23{
    font-size: 1.4rem;
    text-align: center;
  }
  .hr{
    background-color: #fff;
    border: 0;
    border-top: 2px solid #fff;
    width: 100%;
    margin: 3px 0px;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .menu-bars2 {
    margin-left: 2.2rem;
    font-size: 1.5rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #1f2f37;
    width: 340px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
    z-index: 5;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 25;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 10px 8px 10px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    color: #fff;
    background-color: #0b1d26;
  }
  
  .nav-menu-items {
    margin-top: 80px;
    width: 100%;
    padding-left: 0px;
  }
  
  .navbar-toggle {
    background-color: #1f2f37;
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0px;
  }
  .maprc-logo{
    width:170px;
    margin-left: auto;
    margin-right: auto;
  }
  .maprc-logo p{
    font-family: Gilroy;
  }
  
  span {
    margin-left: 16px;
  }
  .social-media-handles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.social-media-handles span{
    display: flex;
    justify-content:flex-start;
   
  }
  .social-media-handles span,.fa-brands {
    font-size: 20px;
    border-radius: 50%;
    margin: 0px 5px;
  }

  .social-media-handles span .fb {
    padding: 6px 6px;
    color: #fff;
    border: 3px solid #fff;
  }
  .social-media-handles span .fb:hover {
    color: #1f2f37;
    background-color: #fff;
  }
  
  .social-media-handles span .insta {
    padding: 6px 8px;
    color: #fff;
    border: 3px solid #fff;
    /* background: linear-gradient(#1f2f37, #1f2f37) padding-box,
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) border-box; */
    border-radius: 19px;
  }
  .social-media-handles span .insta:hover{
    color: #1f2f37;
    background-color: #fff;
    /* background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); */
  }
  
  .social-media-handles span .youtube {
    padding: 6px 6px;
    color: #fff;
    border: 3px solid #fff;
  }
  .social-media-handles span .youtube:hover {
    color: #1f2f37;
    background-color: #fff;
  }
  .social-media-handles span .linkedin{
    padding: 6px 8px;
    color: #fff;
    border: 3px solid #fff;
  }
  .social-media-handles span .linkedin:hover {
    color: #1f2f37;
    background-color: #fff;
  }
  @media all and (max-width:1300px) {
    .nav-menu-items{
      margin-top: 80px;
    }
    
  }
  @media all and (max-width:991px) {
    .maprc-logo{
      width: 180px;
    }
    .fa-brands{
      font-size: 24px;
    }
    .maprc-logo{
      width: 150px;
    }
    .nav-text{
      height: 60px;
    }
  }